<header>
  <div class="z-50 bg-white sticky top-0">
    <div
      class="px-[16px] 2xl:px-[60px] h-[72px] flex items-center justify-between space-x-3 border-b w-full"
    >
      <a routerLink="/">
        <img src="assets/img/logo-red.svg" alt="" class="h-6 cursor-pointer" />
      </a>
      <div
        class="border px-2 h-[40px] rounded-md flex items-center hover:cursor-pointer border-red-600 bg-red-50 w-[100px]"
      >
        <div>
          <div class="text-[9px]">Deliver to</div>
          <div class="font-bold text-[11px] text-red-600 line-clamp-1">
            District 2, Ho Chi Minh
          </div>
        </div>
      </div>
      <div class="flex flex-1">
        <div
          class="border flex items-center rounded-full hover:border-gray-400 pr-4 overflow-hidden w-full"
        >
          <div
            class="border-r px-4 hover:cursor-pointer flex items-center space-x-2 h-[40px]"
          >
            <span class="text-sm text-gray-400"> All </span>
            <i class="fa-solid fa-caret-down text-xs text-gray-400"></i>
          </div>
          <input
            type="text"
            class="bg-transparent placeholder-gray-600 border-0 focus:ring-0 text-base w-full"
            placeholder="What are you looking for?"
          />
          <i class="fa-solid fa-magnifying-glass text-gray-300"></i>
        </div>
      </div>

      <!-- User  -->
      <div *ngIf="isLogined; else elseCheckLogin">
        <a
          routerLink="/profile"
          class="h-[40px] rounded-md border border-white flex items-center hover:border-gray-300 px-2 cursor-pointer max-w-[130px]"
        >
          <i class="fa-solid fa-circle-user text-xl mr-2"></i>
          <div>
            <div class="text-[10px] font-light line-clamp-1">
              Hello, {{ me?.fullname }}
            </div>
            <div class="text-sm font-semibold">Your Profile</div>
          </div>
        </a>
      </div>
      <ng-template #elseCheckLogin>
        <a
          routerLink="/login"
          class="h-[40px] rounded-md border border-white flex items-center hover:border-gray-300 px-2 cursor-pointer"
        >
          <i class="fa-solid fa-circle-user text-xl mr-2"></i>
          <div>
            <div class="text-[10px] font-light">Hello, Sign in</div>
            <div class="text-sm font-semibold">Guest User</div>
          </div>
        </a>
      </ng-template>
      <!-- End  -->
      <div
        class="flex items-center h-[40px] px-2 border border-white hover:border-gray-300 cursor-pointer rounded-md"
      >
        <i class="fa-solid fa-cart-flatbed text-xl"></i>
        <div class="pl-2">
          <div class="text-[10px] font-light">Returns</div>
          <div class="font-semibold text-sm">& Order</div>
        </div>
      </div>
      <a routerLink="/cart">
        <div
          class="flex items-center h-[40px] border border-white hover:border-gray-300 px-2 rounded-md cursor-pointer"
        >
          <div class="relative h-full flex items-center">
            <div
              class="h-4 w-4 bg-red-500 rounded-full flex items-center justify-center text-white absolute top-0 text-[10px] left-[30%] border border-white"
            >
              {{ currentValue }}
            </div>
            <i class="fa-solid fa-cart-shopping text-2xl"></i>
          </div>
          <div class="text-sm pl-1 font-semibold">Cart</div>
        </div>
      </a>
    </div>
    <!-- sub header  -->
    <div
      class="flex h-[50px] items-center text-sm border-b px-[16px] 2xl:px-[60px] justify-between w-full"
    >
      <ul class="flex items-center space-x-6">
        <li
          *ngFor="let category of categories"
          class="text-gray-500 hover:text-gray-600 relative group cursor-pointer"
        >
          <div *ngIf="category.childs.length > 0; else elseBlock">
            <i
              class="text-gray-500 mr-1"
              [class]="
                (category?.slug === 'computers' && 'fa-solid fa-tv') ||
                (category?.slug === 'cell-phones-accessories' &&
                  'fa-solid fa-mobile-screen-button') ||
                (category?.slug === 'electronics' &&
                  'fa-solid fa-computer-mouse') ||
                (category?.slug === 'tablets' && 'fa-solid fa-tablet') ||
                (category?.slug === 'smart-watches' &&
                  'fa-solid fa-house-laptop') ||
                (category?.slug === 'smart-home' && 'fa-solid fa-house-laptop')
              "
            ></i>
            {{ category.name }}
            <span *ngIf="category.childs.length > 0">
              <i
                class="fa-solid fa-chevron-down text-xs ml-2 group-hover:rotate-180 transition-all duration-300"
              ></i>
            </span>
          </div>
          <ng-template #elseBlock>
            <a routerLink="/category/{{ category.slug }}">
              <i
                class="text-gray-500 mr-1"
                [class]="
                  (category?.slug === 'computers' && 'fa-solid fa-tv') ||
                  (category?.slug === 'cell-phones-accessories' &&
                    'fa-solid fa-mobile-screen-button') ||
                  (category?.slug === 'electronics' &&
                    'fa-solid fa-computer-mouse') ||
                  (category?.slug === 'tablets' && 'fa-solid fa-tablet') ||
                  (category?.slug === 'smart-watches' &&
                    'fa-solid fa-swatchbook') ||
                  (category?.slug === 'smart-home' &&
                    'fa-solid fa-house-laptop')
                "
              ></i>
              {{ category.name }}
            </a>
          </ng-template>
          <div
            *ngIf="category.childs.length > 0"
            class="absolute top-4 hidden group-hover:flex cursor-pointer z-0"
          >
            <div
              class="bg-white shadow-2xl border border-gray-100 rounded-xl p-4 mt-6"
            >
              <ul class="space-y-1">
                <li
                  *ngFor="let item of category.childs"
                  class="h-10 px-3 rounded-xl flex items-center hover:bg-slate-50 hover:text-sky-700 cursor-pointer"
                >
                  <a
                    routerLink="/category/{{ category.slug }}/{{ item.slug }}"
                    class="whitespace-nowrap"
                    >{{ item.name }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div
        class="border p-2 rounded-md text-red-500 font-semibold italic bg-red-50 border-red-500"
      >
        Today's Deals
      </div>
    </div>
  </div>
</header>
