<div class="py-[42px]">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl">Electronics</h2>
    <div>
      <button
        class="bg-slate-50 border rounded-lg h-[36px] px-3 uppercase text-xs font-light hover:scale-105 hover:shadow-lg transition-all duration-200"
      >
        View All <i class="fa-solid fa-arrow-right text-xs"></i>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-12 mt-6 border-t border-l z-0">
    <app-card-product class="col-span-2"></app-card-product>
    <app-card-product class="col-span-2"></app-card-product>
    <app-card-product class="col-span-2"></app-card-product>
    <app-card-product class="col-span-2"></app-card-product>
    <app-card-product class="col-span-2"></app-card-product>
    <app-card-product class="col-span-2"></app-card-product>
  </div>
  <div class="pt-4">
    <button
      class="h-[40px] hover:bg-red-50 transition-all duration-200 text-red-500 w-full rounded-full"
    >
      Show More
    </button>
  </div>
</div>
