<a routerLink="/product">
  <div
    class="border-r border-b hover:shadow p-3 cursor-pointer group relative pb-8 card-product"
  >
    <div
      class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
    >
      <div
        class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
      >
        <i class="fa-solid fa-gift text-[10px]"></i>
      </div>
      <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
    </div>
    <div
      class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
    >
      <img src="assets/img/phone.png" alt="" class="h-[78%]" />
    </div>
    <div class="space-y-2 pt-2">
      <div class="flex justify-between items-start">
        <div>
          <h2 class="font-semibold text-sm">20,009,000</h2>
          <div class="text-[12px] text-gray-400 line-through">1,000,000</div>
        </div>
        <div
          class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
        >
          20% Off
        </div>
      </div>
      <div
        class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
      >
        {{ product.name }}
      </div>
      <div class="flex space-x-1">
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <span class="text-xs font-light text-gray-500">120 </span>
      </div>
    </div>
  </div>
</a>
