<div
  class="border-r group border-gray-100 h-full hover:shadow p-3 cursor-pointer group relative pb-8 card-product"
>
  <a routerLink="/product/{{ product?.slug }}">
    <div
      *ngIf="product?.best_seller; else elseBlock"
      class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
    >
      <div
        class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
      >
        <i class="fa-solid fa-gift text-[10px]"></i>
      </div>
      <div class="text-[10px] pl-1 pr-2 text-white">Best Seller</div>
    </div>
    <ng-template #elseBlock>
      <div class="h-[20px]"></div>
    </ng-template>
    <div
      class="h-[200px] xl:h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
    >
      <img [src]="product.img" alt="" class="h-[78%]" />
    </div>
    <div class="space-y-2 pt-2">
      <div class="flex justify-between items-start h-[36px]">
        <div>
          <h2 *ngIf="product.price_deals" class="font-semibold text-base">
            {{ product.price_deals | currency: "$ " }}
          </h2>
          <div
            *ngIf="product.price_origin"
            [ngClass]="
              !product.price_deals
                ? 'text-base font-semibold'
                : 'text-[12px] text-gray-400 line-through'
            "
          >
            {{ product.price_origin | currency: "$ " }}
          </div>
        </div>
        <div
          *ngIf="product?.saves"
          class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
        >
          {{ product?.saves }}
        </div>
        <!-- <ng-template #elseNoDeals>
          <div>No Deals</div>
        </ng-template> -->
      </div>
      <div
        class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
      >
        {{ product.name }}
      </div>
      <div class="flex space-x-1 items-center">
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <i class="fa-solid fa-star text-red-500 text-xs"></i>
        <span class="text-xs font-light text-gray-500"
          >{{ product?.ratings }}
        </span>
      </div>
    </div>
  </a>
  <div
    class="absolute group-hover:flex justify-center mx-auto w-full left-0 right-0 top-[40%] hidden z-50"
  >
    <button
      class="bg-red-200 bg-opacity-20 backdrop-blur-sm text-red-500 rounded-full text-xs px-4 h-[32px]"
      (click)="addToCart(product)"
    >
      <i class="fa-solid fa-heart"></i>
      Add to wish list
    </button>
  </div>
</div>
