<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid grid-cols-12 pt-4 gap-6">
      <div class="col-span-7">
        <div
          class="border border-gray-100 py-6 rounded-xl overflow-hidden group cursor-pointer"
        >
          <div class="relative bg-white">
            <div
              class="absolute top-[50%] h-12 w-8 bg-white rounded-tr-xl rounded-br-xl shadow-md flex justify-center items-center hover:scale-125 cursor-pointer transition-all duration-200 group-hover:shadow-xl"
            >
              <i
                class="fa-solid fa-chevron-left text-sm text-gray-400 group-hover:text-gray-600"
              ></i>
            </div>
            <div
              class="absolute top-[50%] right-0 h-12 w-8 bg-white rounded-tl-xl rounded-bl-xl shadow-md flex justify-center items-center hover:scale-125 cursor-pointer transition-all duration-200 group-hover:shadow-xl"
            >
              <i
                class="fa-solid fa-chevron-right text-sm text-gray-400 group-hover:text-gray-600"
              ></i>
            </div>
            <div class="flex justify-center h-[500px]">
              <img src="assets/img/phone.png" alt="" />
            </div>
          </div>

          <div class="flex items-center space-x-4 pt-4 justify-center">
            <div
              class="border rounded-lg inline-flex items-center h-[60px] w-[60px] hover:border-red-500 cursor-pointer border-red-500 relative"
            >
              <i
                class="fa-solid fa-circle-check text-red-500 absolute top-1 right-1 text-xs"
              ></i>
              <img src="assets/img/phone.png" alt="" class="h-[70%] px-3" />
            </div>
            <div
              class="border rounded-lg inline-flex items-center h-[60px] w-[60px] px-3 hover:border-red-500 cursor-pointer"
            >
              <img src="assets/img/phone.png" alt="" class="h-[70%]" />
            </div>
            <div
              class="border rounded-lg inline-flex items-center h-[60px] w-[60px] px-3 hover:border-red-500 cursor-pointer"
            >
              <img src="assets/img/phone.png" alt="" class="h-[70%]" />
            </div>
            <div
              class="border rounded-lg inline-flex items-center h-[60px] w-[60px] px-3 hover:border-red-500 cursor-pointer"
            >
              <img src="assets/img/phone.png" alt="" class="h-[70%]" />
            </div>
            <div
              class="border rounded-lg inline-flex items-center h-[60px] w-[60px] px-3 hover:border-red-500 cursor-pointer"
            >
              <img src="assets/img/phone.png" alt="" class="h-[70%]" />
            </div>
          </div>
        </div>
        <!-- Bao hanh  -->
        <div class="flex justify-between pt-4">
          <div class="space-y-2">
            <div class="flex justify-center">
              <img src="assets/img/shipping.svg" alt="" class="h-14 w-14" />
            </div>
            <h1 class="text-center font-semibold">FREE SHIPPING</h1>
            <div class="w-[200px] text-xs text-gray-400 text-center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </div>
          </div>
          <div class="space-y-2">
            <div class="flex justify-center">
              <img src="assets/img/refund.svg" alt="" class="h-14 w-14" />
            </div>
            <h1 class="text-center font-semibold">100% REFUND</h1>
            <div class="w-[200px] text-xs text-gray-400 text-center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </div>
          </div>
          <div class="space-y-2">
            <div class="flex justify-center">
              <img src="assets/img/support.svg" alt="" class="h-14 w-14" />
            </div>
            <h1 class="text-center font-semibold">SUPPORT 24/7</h1>
            <div class="w-[200px] text-xs text-gray-400 text-center">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </div>
          </div>
        </div>
        <!-- Description  -->
        <div class="pt-4">
          <div class="text-2xl pb-2">Thông tin sản phẩm</div>
          Pin sạc dự phòng 10000mAh Type C PD QC3.0 Hydrus PB299S có kiểu dáng
          nhỏ gọn, màu sắc nổi bật, in hình hổ đáng yêu • Hiệu suất sạc 60%
          tương đương 6000 mAh, sạc được cho điện thoại iPhone 12 mini và iPhone
          SE khoảng 2.5 lần. • Tích hợp cả 2 công nghệ Power Delivery và Quick
          Charge 3.0 giúp các thiết bị sạc đầy nhanh chóng hơn. • Trang bị 2
          cổng ra phổ biến Type-C (tối đa 20 W), USB (tối đa 18 W) và cho công
          suất sạc nhanh tối đa là 15W khi sạc cùng lúc hai cổng. • Thiết kế nhỏ
          gọn, đáng yêu với màu cam in hình thú độc đáo. • Có đèn LED dễ dàng
          theo dõi dung lượng pin. • Sạc đầy cục sạc trong khoảng 5 đến 6 giờ
          qua cổng Adapter 2A.
        </div>
      </div>

      <!-- Detail  -->
      <div class="col-span-5 space-y-4">
        <h2 class="text-xl font-medium text-gray-500 border-gray-100">
          Laptop MSI Katana Gaming GF66 11UC i7 11800H/8GB/512GB/4GB
          RTX3050/144Hz/Balo/Win10 (224VN)
        </h2>

        <div
          class="flex justify-between border rounded-2xl p-4 border-gray-100"
        >
          <div class="flex items-start">
            <div class="">
              <h1 class="font-semibold text-xl">10,000,000</h1>
              <h1 class="line-through text-gray-300 text-sm">12,000,000</h1>
            </div>
            <div
              class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px] mt-1 ml-2"
            >
              20% Off
            </div>
          </div>
          <div>
            <span class="text-sm text-gray-400 pr-2">Price at:</span>
            <span class="text-sm text-blue-500 font-semibold cursor-pointer"
              >Ho Chi Minh</span
            >
          </div>
        </div>

        <div class="flex space-x-4 border p-4 rounded-2xl border-gray-100">
          <div class="border-r border-gray-100 pr-4">
            <h1 class="text-gray-400 text-sm uppercase">Storage</h1>
            <div class="pt-2 space-x-2">
              <div
                class="h-[30px] items-center justify-center text-xs px-2 bg-red-50 rounded-full inline-flex border cursor-pointer border-red-600 text-red-600 font-medium"
              >
                128GB
              </div>
              <div
                class="h-[30px] items-center justify-center text-xs px-2 rounded-full inline-flex border cursor-pointer font-medium hover:border-red-600 hover:text-red-600"
              >
                528GB
              </div>
              <div
                class="h-[30px] items-center justify-center text-xs px-2 rounded-full inline-flex border cursor-pointer font-medium hover:border-red-600 hover:text-red-600"
              >
                1TB
              </div>
            </div>
          </div>
          <div class="">
            <h1 class="text-gray-400 text-sm uppercase">Color</h1>
            <div class="pt-2 space-x-2">
              <div
                class="h-[30px] items-center justify-center text-xs px-2 rounded-full inline-flex border cursor-pointer font-medium hover:border-red-600 hover:text-red-600"
              >
                Red
              </div>
              <div
                class="h-[30px] items-center justify-center text-xs px-2 rounded-full inline-flex border cursor-pointer font-medium hover:border-red-600 hover:text-red-600"
              >
                Black
              </div>
              <div
                class="h-[30px] items-center justify-center text-xs px-2 rounded-full inline-flex border cursor-pointer font-medium hover:border-red-600 hover:text-red-600"
              >
                White
              </div>
            </div>
          </div>
        </div>

        <!-- Delivery  -->
        <div class="border border-gray-100 p-4 rounded-2xl">
          <div class="text-sm uppercase text-green-500">Stocking</div>
          <div class="flex items-center pt-2">
            <i class="fa-solid fa-location-dot text-green-500"></i>
            <div class="text-sm ml-2">Delivery to District 2, HCM City</div>
            <button class="text-sm text-blue-500 ml-3">Change</button>
          </div>
          <div
            class="text-xs font-medium text-gray-400 pt-2 border-t mt-3 border-gray-100 border-dashed"
          >
            Order now and it will be delivered directly to you between Wed. 16
            Feb. and Thu. 17 Feb.
          </div>
        </div>
        <!-- Offer  -->
        <div class="border border-red-200 rounded-2xl overflow-hidden">
          <div class="flex space-x-2 items-center pb-2 bg-red-50 pt-2 px-4">
            <i class="fa-solid fa-gift text-pink-500"></i>
            <div class="text-sm text-pink-500">Offer</div>
          </div>
          <div class="p-4">
            <div class="flex items-center space-x-2">
              <div
                class="h-5 w-5 flex justify-center items-center rounded-full bg-red-50 text-red-500 text-xs"
              >
                1
              </div>
              <div class="text-xs">
                Tặng mã ưu đãi quà tặng Galaxy trị giá đến 500,000đ khi đăng ký
                thẻ Pearl Club
              </div>
            </div>
          </div>
        </div>
        <div>
          <button
            class="h-[40px] w-full bg-gradient-to-r from-red-500 to-pink-500 rounded-xl text-white uppercase hover:scale-105 transition-all duration-300"
          >
            Order
          </button>
          <button
            class="w-full mt-4 hover:bg-red-50 hover:text-red-500 h-[40px] rounded-xl transition-all duration-300 flex items-center space-x-2 justify-center group"
          >
            <i class="fa-regular fa-heart"></i>
            <span class="text-sm">Add to wish list </span>
          </button>
        </div>
        <!-- Cau hinh  -->
        <div class="border p-4 rounded-xl">
          <div>124</div>
        </div>
      </div>
    </div>
  </body>
</html>
