<div class="">
  <!-- Hang  -->
  <div class="grid grid-cols-12 gap-4 pb-4">
    <div
      *ngFor="let item of brands"
      class="h-10 border border-gray-100 shadow rounded-xl flex items-center col-span-1"
    >
      <img [src]="item.img" alt="" />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-6 text-[13px]">
    <!-- Filter  -->
    <div class="col-span-2">
      <div class="shadow border rounded-xl p-3 sticky top-36">
        <div class="space-y-1">
          <div class="font-bold">Department</div>
          <div class="font-medium pl-2">{{ parentName }}</div>
          <ul class="pl-4 text-gray-600">
            <li
              *ngFor="let i of categories"
              class="my-1 hover:text-gray-700 hover:font-semibold"
            >
              <a href="/category/{{ parent }}/{{ i.slug }}?filter=true">
                {{ i.name }}
              </a>
            </li>
          </ul>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Avg. Customer Review
          </div>
          <div class="space-y-1 pt-2">
            <button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div>
            </button>
            <button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div></button
            ><button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div></button
            ><button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div>
            </button>
          </div>
        </div>
        <!-- //  -->
        <div>
          <div class="font-bold pt-3 border-t border-gray-100 mt-3">
            Featured Brands
          </div>
          <div class="pt-2 space-y-1">
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span>Apple </span>
            </div>
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span>Ailun </span>
            </div>
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                name="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span labelFor="checkbox">TAKAGI </span>
            </div>
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span>Bitty Boomers </span>
            </div>
          </div>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Price
          </div>
          <div class="pt-2 space-y-1">
            <button class="text-gray-500">Under $25</button> <br />
            <button class="text-gray-500">$25 to $50</button><br />
            <button class="text-gray-500">$50 to $100</button><br />
            <button class="text-gray-500">$100 to $200</button><br />
            <button class="text-gray-500">$200 & Above</button><br />
          </div>
          <div class="flex space-x-2 pt-3">
            <input
              type="number"
              placeholder="$ Min"
              class="w-full border-gray-100 rounded-xl text-[11px] h-[36px]"
            />
            <input
              type="text"
              placeholder="$ Max"
              class="w-full border-gray-100 rounded-xl text-[11px] h-[36px]"
            />
            <button
              class="h-[36px] border shadow-sm w-full rounded-xl text-[11px]"
            >
              Go
            </button>
          </div>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Deals & Discounts
          </div>
          <ul class="space-y-1 text-gray-400 pt-2">
            <li>All Discounts</li>
            <li>Today's Deals</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- // all Product  -->
    <div class="col-span-10">
      <div class="flex justify-between items-center border-b pb-4">
        <div class="text-xl font-semibold">All {{ parentName }}</div>
        <div>
          <div class="text-xs text-gray-500 pb-2">Sort by</div>
          <select
            name="sort"
            id=""
            class="h-[36px] rounded-xl text-xs border-gray-200 shadow"
          >
            <option value="">Featured</option>
            <option value="2">Price: Low to high</option>
          </select>
        </div>
      </div>
      <div *ngIf="loading; else elseLoading">
        <div class="grid grid-cols-12 mt-6 z-0 gap-6">
          <div
            *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
            class="col-span-3 animate-pulse"
          >
            <div class="bg-slate-50 rounded-xl h-[200px]"></div>
            <div class="h-[20px] bg-slate-50 rounded-xl mt-4"></div>
            <div class="h-[48px] bg-slate-50 rounded-2xl mt-2"></div>
            <div class="h-[20px] w-[100px] bg-slate-50 rounded-xl mt-2"></div>
          </div>
        </div>
      </div>
      <ng-template #elseLoading>
        <div class="grid grid-cols-12 mt-4 gap-2">
          <!-- Product  -->
          <a
            *ngFor="let item of listProduct"
            routerLink="/product/{{ item.slug }}"
            class="md:col-span-4 lg:col-span-3 xl:col-span-3 2xl:col-span-3"
          >
            <div
              class="border border-gray-100 rounded-xl hover:border-gray-300 p-3 cursor-pointer group relative pb-8 card-product"
            >
              <div
                *ngIf="item?.best_seller; else elseBlock"
                class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
              >
                <div
                  class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
                >
                  <i class="fa-solid fa-gift text-[10px]"></i>
                </div>
                <div class="text-[10px] pl-1 pr-2 text-white">Best Seller</div>
              </div>
              <ng-template #elseBlock>
                <div class="h-[20px]"></div>
              </ng-template>
              <div
                class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
              >
                <img [src]="item?.img" alt="" class="h-[78%]" />
              </div>
              <div class="space-y-2 pt-2">
                <div class="flex justify-between items-start h-[36px]">
                  <div>
                    <h2 class="font-semibold text-base">
                      {{ item.price_deals }}
                    </h2>
                    <div
                      [ngClass]="
                        !item.price_deals
                          ? 'font-semibold text-base'
                          : 'line-through text-[12px] text-gray-400'
                      "
                    >
                      {{ item.price_origin }}
                    </div>
                  </div>
                  <div
                    class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                  >
                    20% Off
                  </div>
                </div>
                <div
                  class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
                >
                  {{ item?.name }}
                </div>
                <div class="flex space-x-1">
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <span class="text-xs font-light text-gray-500">{{
                    item?.ratings
                  }}</span>
                </div>
              </div>
            </div>
          </a>

          <a
            *ngFor="let item of listProductChild"
            routerLink="/product/{{ item.slug }}"
            class="md:col-span-4 lg:col-span-3 xl:col-span-2 2xl:col-span-3"
          >
            <div
              class="border border-gray-100 rounded-xl hover:border-gray-300 p-3 cursor-pointer group relative pb-8 card-product h-[420px]"
            >
              <div
                *ngIf="item?.best_seller; else elseBlock"
                class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
              >
                <div
                  class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
                >
                  <i class="fa-solid fa-gift text-[10px]"></i>
                </div>
                <div class="text-[10px] pl-1 pr-2 text-white">Best Seller</div>
              </div>
              <ng-template #elseBlock>
                <div class="h-[20px]"></div>
              </ng-template>
              <div
                class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
              >
                <img [src]="item?.img" alt="" class="h-[78%]" />
              </div>
              <div class="space-y-2 pt-2">
                <div class="flex justify-between items-start">
                  <div>
                    <h2 class="font-semibold text-base">
                      {{ item.price_deals }}
                    </h2>
                    <div
                      [ngClass]="
                        !item.price_deals
                          ? 'font-semibold text-sm'
                          : 'line-through text-[12px] text-gray-400'
                      "
                    >
                      {{ item.price_origin }}
                    </div>
                  </div>
                  <div
                    class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                  >
                    20% Off
                  </div>
                </div>
                <div
                  class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
                >
                  {{ item?.name }}
                </div>
                <div class="flex space-x-1">
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <i class="fa-solid fa-star text-red-500 text-xs"></i>
                  <span class="text-xs font-light text-gray-500"
                    >{{ item?.ratings }}
                  </span>
                </div>
              </div>
            </div>
          </a>
          <div
            *ngIf="listProductChild === undefined && listProduct === undefined"
            class="flex justify-center col-span-12"
          >
            <div class="text-center">
              <i
                class="fa-solid fa-triangle-exclamation text-4xl text-red-500"
              ></i>
              <h2 class="text-base italic">
                There are currently no products for this category
              </h2>
            </div>
          </div>
        </div>
      </ng-template>
      <div *ngIf="listProduct?.length > 10" class="pt-6">
        <button class="h-[40px] w-full bg-red-50 text-red-600 rounded-xl">
          Load More
        </button>
      </div>
    </div>
  </div>
</div>
