<div class="pt-4">
  <!-- Hang  -->
  <div class="grid grid-cols-12 gap-4">
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
    <div class="h-10 bg-slate-50 col-span-1"></div>
  </div>
  <div class="grid grid-cols-12 gap-6 pt-6 text-[13px]">
    <!-- Filter  -->
    <div class="col-span-2">
      <div class="shadow border rounded-xl p-3 sticky top-36">
        <div class="space-y-1">
          <div class="font-medium">Department</div>
          <div class="font-medium pl-2">Cell Phones & Accessories</div>
          <ul class="pl-4 space-y-1 text-gray-600">
            <li>Cell Phones</li>
            <li>Cell Phones</li>
            <li>Cell Phones</li>
          </ul>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Avg. Customer Review
          </div>
          <div class="space-y-1 pt-2">
            <button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div>
            </button>
            <button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div></button
            ><button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div></button
            ><button>
              <div class="flex space-x-1 items-center">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <i class="fa-solid fa-star text-gray-300 text-xs"></i>
                <span class="text-xs text-gray-500">& Up</span>
              </div>
            </button>
          </div>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Featured Brands
          </div>
          <div class="pt-2 space-y-1">
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span>Apple </span>
            </div>
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span>Ailun </span>
            </div>
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                name="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span labelFor="checkbox">TAKAGI </span>
            </div>
            <div class="flex items-center space-x-2">
              <input
                type="checkbox"
                class="border-gray-400 text-sky-600 rounded-md"
              />
              <span>Bitty Boomers </span>
            </div>
          </div>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Price
          </div>
          <div class="pt-2 space-y-1">
            <button class="text-gray-500">Under $25</button> <br />
            <button class="text-gray-500">$25 to $50</button><br />
            <button class="text-gray-500">$50 to $100</button><br />
            <button class="text-gray-500">$100 to $200</button><br />
            <button class="text-gray-500">$200 & Above</button><br />
          </div>
          <div class="flex space-x-2 pt-3">
            <input
              type="number"
              placeholder="$ Min"
              class="w-full border-gray-100 rounded-xl text-[11px] h-[36px]"
            />
            <input
              type="text"
              placeholder="$ Max"
              class="w-full border-gray-100 rounded-xl text-[11px] h-[36px]"
            />
            <button
              class="h-[36px] border shadow-sm w-full rounded-xl text-[11px]"
            >
              Go
            </button>
          </div>
        </div>
        <!-- //  -->
        <div>
          <div class="font-medium pt-3 border-t border-gray-100 mt-3">
            Deals & Discounts
          </div>
          <ul class="space-y-1 text-gray-400 pt-2">
            <li>All Discounts</li>
            <li>Today's Deals</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- // all Product  -->
    <div class="col-span-10">
      <div class="flex justify-between items-center">
        <div class="text-xl font-semibold">All Phones</div>
        <div>
          <div class="text-xs text-gray-500 pb-2">Sort by</div>
          <select
            name="sort"
            id=""
            class="h-[36px] rounded-xl text-xs border-gray-200 shadow"
          >
            <option value="">Featured</option>
            <option value="2">Price: Low to high</option>
          </select>
        </div>
      </div>
      <div class="grid grid-cols-12 border-l border-gray-100 border-t mt-4">
        <!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div>
        </a>
        <!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div> </a
        ><!-- // Product  -->
        <a routerLink="/product" class="col-span-2">
          <div
            class="border-r border-b hover:shadow-md p-3 cursor-pointer group relative pb-8 card-product"
          >
            <div
              class="bg-gradient-to-r from-red-500 to-pink-500 h-[20px] rounded-full inline-flex items-center"
            >
              <div
                class="h-[20px] w-[20px] rounded-full bg-pink-400 flex justify-center items-center text-white"
              >
                <i class="fa-solid fa-gift text-[10px]"></i>
              </div>
              <div class="text-[10px] pl-1 pr-2 text-white">Best Sales</div>
            </div>
            <div
              class="h-[250px] flex justify-center items-center group-hover:scale-105 duration-200 transition-all"
            >
              <img src="assets/img/phone.png" alt="" class="h-[78%]" />
            </div>
            <div class="space-y-2 pt-2">
              <div class="flex justify-between items-start">
                <div>
                  <h2 class="font-semibold text-sm">20,009,000</h2>
                  <div class="text-[12px] text-gray-400 line-through">
                    1,000,000
                  </div>
                </div>
                <div
                  class="items-center justify-center inline-flex rounded-full bg-red-100 font-semibold text-red-500 px-2 text-[11px] h-[20px]"
                >
                  20% Off
                </div>
              </div>
              <div
                class="text-sm line-clamp-2 font-medium text-gray-500 group-hover:text-blue-500"
              >
                Samsung Galaxy S20fe 2021 6gb/128gb 6.5 ́ ́ Dual Sim Smartphone
              </div>
              <div class="flex space-x-1">
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <i class="fa-solid fa-star text-red-500 text-xs"></i>
                <span class="text-xs font-light text-gray-500">120 </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="pt-6">
        <button class="h-[40px] w-full bg-red-50 text-red-600 rounded-xl">
          Load More
        </button>
      </div>
    </div>
  </div>
</div>
