<footer class="bg-gray-900 py-10 text-sm text-white">
  <div class="grid grid-cols-12 pb-6">
    <div class="col-span-8 flex justify-around">
      <div>
        <h2 class="text-gray-400">ABOUT</h2>
        <ul class="pt-3 text-xs space-y-2">
          <li>Contact Us</li>
          <li>About Us</li>
          <li>Careers</li>
          <li>Corporate Information</li>
        </ul>
      </div>
      <div>
        <h2 class="text-gray-400">HELP</h2>
        <ul class="pt-3 text-xs space-y-2">
          <li>Payment</li>
          <li>Shipping</li>
          <li>FAQ</li>
          <li>Report</li>
        </ul>
      </div>
      <div>
        <h2 class="text-gray-400">POLICY</h2>
        <ul class="pt-3 text-xs space-y-2">
          <li>Return Policy</li>
          <li>Terms Of Use</li>
          <li>Security</li>
          <li>Privacy</li>
          <li>Sitemap</li>
        </ul>
      </div>
      <div>
        <h2 class="text-gray-400">SOCIAL</h2>
        <ul class="pt-3 text-xs space-y-2">
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
    <div class="col-span-4 border-l border-gray-800 pl-6 flex justify-around">
      <div>
        <h2 class="text-gray-400">Mail Us:</h2>
        <ul class="pt-3 text-xs space-y-2">
          TechMall Internet Private Limited,<br />

          Buildings Alyssa, Begonia &
          <br />

          Clove Embassy Tech Village,
          <br />

          Outer Ring Road, Devarabeesanahalli Village,
          <br />

          Bengaluru, 560103,
          <br />

          Karnataka, US
          <br />
        </ul>
      </div>
      <div>
        <h2 class="text-gray-400">Registered Office Address:</h2>
        <ul class="pt-3 text-xs space-y-2">
          TechMall Internet Private Limited,<br />

          Buildings Alyssa, Begonia &
          <br />

          Clove Embassy Tech Village,
          <br />

          Outer Ring Road, Devarabeesanahalli Village,
          <br />

          Bengaluru, 560103,
          <br />

          Karnataka, US
          <br />
          CIN : U51109KA2012PTC066107
          <br />

          Telephone: 1800 202 9898
        </ul>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-800">
    <div class="pt-6 flex justify-end">
      <img
        class=""
        src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/payment-method_69e7ec.svg"
        alt=""
      />
    </div>
  </div>
</footer>
