<div class="py-[42px]">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl">{{ title }}</h2>
    <div>
      <button
        class="bg-slate-50 border rounded-lg h-[36px] px-3 uppercase text-xs font-light hover:scale-105 hover:shadow-lg transition-all duration-200"
      >
        View All <i class="fa-solid fa-arrow-right text-xs"></i>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-12 mt-6 border-t border-l z-0">
    <div *ngFor="let product of listProducts" class="col-span-2">
      <app-card-product [product]="product"></app-card-product>
    </div>
  </div>
</div>
